body {
  margin: 20px;
  min-width: 605px;
}

h1 {
  text-align: center;
}

.ui.tabular.menu {
  margin: 14px 0 0 0;
}

.ui.tabular.menu .item {
  width: 33.33%;
  cursor: pointer;
}

.ui.tabular.menu .item:hover {
  background-color: #f7f7f7;
  border-top-left-radius: 0.28571429rem;
  border-top-right-radius: 0.28571429rem;
}

.ui.tabular.menu .item.active {
  background-color: #f1f1f1;
}

.ui.tab {
  padding: 20px;
  background-color: #f1f1f1;
  border-left: 1px solid #d4d4d5;
  border-right: 1px solid #d4d4d5;
  border-bottom: 1px solid #d4d4d5;
  border-bottom-left-radius: 0.28571429rem;
  border-bottom-right-radius: 0.28571429rem;
}

span.required {
  color: red;
}

@keyframes increase {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.message {
  width: 33.33%;
}

.message .line-fade {
  height: 4px;
  animation: increase 4s linear;
  float: right;
}

.message.success .line-fade {
  background-color: #a3c293;
}

.message.negative .line-fade {
  background-color: #db2828;
}

#table {
  margin: 20px 0;
}

#chart div {
  width: 50%;
  min-width: 605px;
  margin: 0 auto;
}
