{% extends 'layout.html' %} {% block content %}
<div class="list">
  <div class="header">
    <h2>Courses list</h2>

    <!--
    <a href="/course/create">
      <button class="primary">Create course</button>
    </a>
    -->
    
  </div>

  <table class="ui celled padded table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Professor</th>
        <th>School year</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
      <tr>
        <td>{{course.id}}</td>
        <td>{{course.name}}</td>
        <td>{{course.professor}}</td>
        <td>{{course.school_year}}</td>
        <td>{{course.description}}</td>
        <td>
          <a href={{"/course/%d/attendances" % course.id}}><button class="secundary">View attendances</button></a>
          <!--
          <a href={{"/course/%d/delete" % course.id}}><button class="danger">Delete course</button></a>
          -->
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
