{% extends 'layout.html' %} {% block content %}
<div class="list">
  <div class="header">
    <h2>Activities list</h2>
  </div>

  {% if show_filters %}
  <form class="ui form" method="post" id="form">
    <div class="field">
      <div class="three fields">
        <div class="field">
          <h3>Activity Type</h3>
          <div class="ui selection dropdown" id="acts_drop">
            <input name="activity_id" type="hidden" />
            <div class="default text">Select a value</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {%for activity_type in activities_types%}
              <div class="item" data-value="{{activity_type['id']}}">{{activity_type["name"]}}</div>
              {%endfor%}
            </div>
          </div>
        </div>

        <div class="field">
          <h3>External</h3>
          <div class="ui selection dropdown" id="external_drop">
            <input name="external_id" type="hidden" />
            <div class="default text">Select a value</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {%for external in externals%}
              <div class="item" data-value="{{external['id']}}">{{external["name"]}}</div>
              {%endfor%}
            </div>
          </div>
        </div>

        <div class="field">
          <h3>Studend ID</h3>
          <div class="ui selection dropdown" id="students_drop">
            <input name="student_id" type="hidden" />
            <div class="default text">Select a value</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {%for student in students%}
              <div class="item" data-value="{{student}}">{{student}}</div>
              {%endfor%}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="text-align: right">
      <button class="ui button secundary" type="button" id="reset">Reset</button>
      <button class="ui button primary" type="submit">Filter</button>
    </div>
  </form>
  {% endif %}

  <table class="ui celled padded table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Activity</th>
        <th>External</th>
        <th>Student ID</th>
        <th>Start Time</th>
        <th>Stop Time</th>
        <th>Description</th>
        <!--
          <th>Actions</th>
        -->
      </tr>
    </thead>
    <tbody>
      {% for activity in activities %}
      <tr>
        <td>{{activity.id}}</td>
        <td>{{activity.type_name}}</td>
        <td>{{activity.activity_name}}</td>
        <td>{{activity.external_name}}</td>
        <td>{{activity.student_id}}</td>
        <td>{{activity.start_time}}</td>
        <td>{{activity.stop_time}}</td>
        <td>{{activity.description}}</td>
        <!--
          <td>
            <a href={{"/activity/%d/delete" % activity.id}}><button class="danger">Delete activity</button></a>
          </td>
        -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  let acts = $("#acts_drop").dropdown();
  let external = $("#external_drop").dropdown();
  let student = $("#students_drop").dropdown();

  let c_activity = "{{c_activity}}";
  let c_external = "{{c_external}}";
  let c_student = "{{c_student}}";

  if (c_activity) acts.dropdown("set selected", c_activity);
  if (c_external) external.dropdown("set selected", c_external);
  if (c_student) student.dropdown("set selected", c_student);

  $("#reset").on("click", function () {
    window.location.href = "/activities";
  });
</script>

{% endblock %}
