{% extends 'layout.html' %} {% block content %}
<div class="list">
  <div class="header">
    <h2>Services list</h2>

    <a href="/service/create">
      <button class="primary">Create service</button>
    </a>
  </div>
  
  <table class="ui celled padded table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for service in services %}
      <tr>
        <td>{{service.id}}</td>
        <td>{{service.name}}</td>
        <td>{{service.location}}</td>
        <td>{{service.description}}</td>
        <td>
          <a href={{"/service/%d/evaluations" % service.id}}><button class="secundary">View evaluations</button></a>
          <a href={{"/service/%d/delete" % service.id}}><button class="danger">Delete service</button></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
