{% extends 'layout.html' %} {% block content %}
<div style="text-align: right">
  <a href="/logout">
    <button class="ui button primary">Log out</button>
  </a>
</div>

<div class="ui tabular menu">
  <div class="item" data-tab="1"><h2></h2></div>
  <div class="item" data-tab="2"><h2></h2></div>
  <div class="item" data-tab="3"><h2></h2></div>
</div>

<div class="ui tab" data-tab="1"></div>
<div class="ui tab" data-tab="2"></div>
<div class="ui tab" data-tab="3"></div>

<div></div>

<div id="chart">
  <div></div>
</div>

<div id="table"></div>

<script>
  let types = ["Personal", "Academic", "Administrative"];

  let base_url = "{{base_url}}";
  let student_id = "{{user_id}}";

  let today = new Date();

  function setEvalForm(tabContent, tab_id, activitiesTypes, external_id) {
    $(tabContent.children[2]).remove();
    $(tabContent).append(createEvaluationForm());

    let form = $("#evaluation_form");

    form.form({
      onSuccess: function (event, evalFields) {
        event.preventDefault();

        evalFields.rating = $("#evaluation_form .rating").rating("get rating");
        evalFields.service_id = external_id;
        evalFields.student_id = student_id;

        $.ajax({
          url: `${base_url}/test`,
          type: "POST",
          data: evalFields,
          dataType: "json",
          cors: true,
          secure: true,
          beforeSend: function () {
            form.addClass("loading");
          },
          success: function (data) {
            form.form("clear");
            $("#evaluation_form .rating").rating("set rating", 0);
            $(tabContent.children[2]).remove();
            setActForm(tabContent, tab_id, activitiesTypes);
          },
          complete: function () {
            form.removeClass("loading");
          },
        });
      },
    });

    $("#evaluation_form .rating").rating({
      maxRating: 5,
    });

    $("#evaluation_form #skip").on("click", function () {
      $(tabContent.children[2]).remove();
      setActForm(tabContent, tab_id, activitiesTypes);
    });
  }

  function setActForm(tabContent, tab_id, activitiesTypes) {
    $(tabContent).append(createActivityForm(tab_id, activitiesTypes));

    let form = $(`#activity_form_${tab_id}`);
    let start_time = $(`#activity_form_${tab_id} #start_time`);
    let stop_time = $(`#activity_form_${tab_id} #stop_time`);
    let options = $(`#activity_form_${tab_id} #options`)[0];

    $(`#activity_form_${tab_id} input[type=radio][name=activity_id]`).change(function () {
      options.innerHTML = "";

      for (activityType of activitiesTypes) {
        if (activityType.id == this.value && activityType.db) {
          options.innerHTML = createOptions(activityType.values);
          $(options.children[0]).dropdown();
        }
      }
    });

    start_time.calendar({
      maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate(), today.getHours(), today.getMinutes()),
    });

    stop_time.calendar({
      maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate(), today.getHours(), today.getMinutes()),
    });

    form.form({
      fields: {
        start_time: {
          identifier: "start_time",
          rules: [
            {
              type: "empty",
              prompt: "Please enter a start time",
            },
          ],
        },
        stop_time: {
          identifier: "stop_time",
          rules: [
            {
              type: "empty",
              prompt: "Please enter a stop time",
            },
          ],
        },
        activity_id: {
          identifier: "activity_id",
          rules: [
            {
              type: "checked",
              prompt: "Please select an activity type form the list",
            },
          ],
        },
      },
      inline: true,
      on: "blur",
      onSuccess: function (event, actFields) {
        event.preventDefault();

        actFields.start_time = new Date(actFields.start_time).toISOString().split(".")[0] + "Z";
        actFields.stop_time = new Date(actFields.stop_time).toISOString().split(".")[0] + "Z";

        actFields.student_id = student_id;

        for (activityType of activitiesTypes) {
          if (activityType.id == actFields.activity_id && activityType.db) {
            actFields.external_id = $(`#activity_form_${tab_id} input[name=external_id]`)[0].value;

            if (!actFields.external_id) {
              $("#error_" + tab_id).removeClass("hidden");

              setTimeout(() => $("#error_" + tab_id).addClass("hidden"), 4000);

              return;
            }
          }
        }

        $.ajax({
          url: `${base_url}/activity/create`,
          type: "POST",
          data: JSON.stringify(actFields),
          contentType: "application/json",
          dataType: "json", // type of response data
          cors: true,
          secure: true,
          beforeSend: function () {
            form.addClass("loading");
          },
          success: function (data) {
            $("#success_" + tab_id).removeClass("hidden");

            form.form("clear");

            setTimeout(() => $("#success_" + tab_id).addClass("hidden"), 4000);

            setTableAndChart();

            if (tab_id == 3 && actFields.external_id) {
              setEvalForm(tabContent, tab_id, activitiesTypes, actFields.external_id);
            }
          },
          error: function () {
            $("#error_" + tab_id).removeClass("hidden");

            setTimeout(() => $("#error_" + tab_id).addClass("hidden"), 4000);
          },
          complete: function () {
            form.removeClass("loading");
          },
        });

        options.innerHTML = "";
      },
    });
  }

  // TODO: pagination
  // TODO: choose start and stop date for chart
  async function setTableAndChart() {
    let activities = [];

    await $.ajax({
      url: `${base_url}/activities/${student_id}`,
      type: "GET",
      dataType: "json",
      cors: true,
      secure: true,
      success: function (data) {
        for (d of data) {
          d.duration = (Math.abs(Date.parse(d.stop_time) - Date.parse(d.start_time)) / 36e5).toFixed(2);
        }

        activities = data;
      },
    });

    let days = [];
    let datasets = [
      {
        label: "Personal",
        backgroundColor: "#6F00FF",
        borderColor: "#6F00FF",
      },
      {
        label: "Academic",
        backgroundColor: "#00ABFF",
        borderColor: "#00ABFF",
      },
      {
        label: "Administrative",
        backgroundColor: "#FF8900",
        borderColor: "#FF8900",
      },
    ];

    let date = new Date();
    date.setDate(today.getDate() - 7);
    let endDate = today;

    while (date <= endDate) {
      days.push(new Date(date));
      date.setDate(date.getDate() + 1);
    }

    for (dataset of datasets) {
      dataset.data = new Array(days.length).fill(0);
    }

    for (activity of activities) {
      for (let i = 0; i < days.length; i++) {
        if (
          new Date(days[i].toDateString()) >= new Date(new Date(activity.start_time).toDateString()) &&
          new Date(days[i].toDateString()) <= new Date(new Date(activity.stop_time).toDateString())
        ) {
          time = 0;
          if (
            new Date(days[i].toDateString()) - new Date(new Date(activity.start_time).toDateString()) == 0 &&
            new Date(days[i].toDateString()) - new Date(new Date(activity.stop_time).toDateString()) == 0
          ) {
            time = (Math.abs(Date.parse(activity.stop_time) - Date.parse(activity.start_time)) / 36e5).toFixed(2);
          } else if (new Date(days[i].toDateString()) - new Date(new Date(activity.start_time).toDateString()) == 0) {
            ref = new Date(days[i]);
            ref.setHours(24, 0, 0, 0);

            time = (Math.abs(Date.parse(ref) - Date.parse(activity.start_time)) / 36e5).toFixed(2);
          } else if (new Date(days[i].toDateString()) - new Date(new Date(activity.stop_time).toDateString()) == 0) {
            ref = new Date(days[i]);
            ref.setHours(0, 0, 0, 0);

            time = (Math.abs(Date.parse(activity.stop_time) - Date.parse(ref)) / 36e5).toFixed(2);
          } else {
            time = 24;
          }

          for (dataset of datasets) {
            if (dataset.label == activity.type_name) {
              dataset.data[i] += Number(time);
            }
          }
        }
      }
    }

    console.log(datasets);

    for (let i = 0; i < days.length; i++) {
      days[i] = days[i].getDate() + "/" + days[i].getMonth() + "/" + days[i].getFullYear();
    }

    const data = {
      labels: days,
      datasets: datasets,
    };

    const config = {
      type: "line",
      data: data,
      options: {
        scales: {
          y: {
            min: 0,
          },
        },
      },
    };

    let canvas_container = $("#chart div")[0];
    canvas_container.innerHTML = "";
    canvas_container.innerHTML = "<canvas></canvas>";

    let table = $("#table")[0];
    table.innerHTML = "";

    const myChart = new Chart($("#chart canvas"), config);
    table.innerHTML = generateTable(activities, 0, 5);
  }

  async function setPage() {
    let activities_types = [];

    await $.ajax({
      url: `${base_url}/activities/types`,
      type: "GET",
      dataType: "json",
      cors: true,
      secure: true,
      success: function (data) {
        activities_types = data;

        let tabs = $(".tabular.menu .item");

        tabs.tab();

        for (let tab_id = 1; tab_id <= tabs.length; tab_id++) {
          tabs[tab_id - 1].children[0].innerHTML = types[tab_id - 1];

          let tabContent = $(`.ui.tab[data-tab=${tab_id}]`)[0];

          $(tabContent).append(createSuccessMessage(tab_id, types[tab_id - 1]));
          $(tabContent).append(createErrorMessage(tab_id, types[tab_id - 1]));

          list = [];
          for (activity_type of activities_types) {
            if (activity_type.type_name == types[tab_id - 1]) {
              list.push(activity_type);
            }
          }

          setActForm(tabContent, tab_id, list);
        }

        setTableAndChart();
      },
    });
  }

  setPage();
</script>
{% endblock %}
