{% extends 'layout.html' %} {% block content %}
<div style="text-align: right">
  <a href="/logout">
    <button class="ui button primary">Log out</button>
  </a>
</div>

<div class="ui tabular menu">
  <div class="item" data-tab="1"><h2></h2></div>
  <div class="item" data-tab="2"><h2></h2></div>
  <div class="item" data-tab="3"><h2></h2></div>
</div>

<div class="ui tab" data-tab="1"></div>
<div class="ui tab" data-tab="2"></div>
<div class="ui tab" data-tab="3"></div>

<script>
  var types = ["Personal", "Academic", "Administrative"];

  var today = new Date();

  var tabs = $(".tabular.menu .item");

  tabs.tab();

  for (let tab_id = 1; tab_id < tabs.length + 1; tab_id++) {
    tabs[tab_id - 1].children[0].innerHTML = types[tab_id - 1];

    let tabContent = $(`.ui.tab[data-tab=${tab_id}]`)[0];

    tabContent.innerHTML += createSuccessMessage(tab_id, types[tab_id - 1]);
    tabContent.innerHTML += createErrorMessage(tab_id, types[tab_id - 1]);
    tabContent.innerHTML += createForm(tab_id, [{ id: 1, name: "ola" }]);

    let form = $("#form_" + tab_id);
    let start_time = $("#form_" + tab_id + " #start_time");
    let stop_time = $("#form_" + tab_id + " #stop_time");

    form.form({
      fields: {
        start_time: {
          identifier: "start_time",
          rules: [
            {
              type: "empty",
              prompt: "Please enter a start time",
            },
          ],
        },
        stop_time: {
          identifier: "stop_time",
          rules: [
            {
              type: "empty",
              prompt: "Please enter a stop time",
            },
          ],
        },
        sub_type_id: {
          identifier: "sub_type_id",
          rules: [
            {
              type: "checked",
              prompt: "Please select an activity type form the list",
            },
          ],
        },
      },
      inline: true,
      on: "blur",
      onSuccess: async function (event, fields) {
        event.preventDefault();
        $(this).addClass("loading");

        var type_id = $(event.target).attr("type_id");

        fields.start_time = new Date(fields.start_time).toISOString();
        fields.stop_time = new Date(fields.stop_time).toISOString();
        fields.type_id = type_id;

        await new Promise((resolve) => {
          setTimeout(() => {
            resolve();
          }, 1000);
        });

        $(this).removeClass("loading");
        $("#success_" + type_id).removeClass("hidden");
        $("#error_" + type_id).removeClass("hidden");

        setTimeout(() => {
          $("#success_" + type_id).addClass("hidden");
          $("#error_" + type_id).addClass("hidden");
        }, 4000);

        $(this).form("clear");
      },
    });

    start_time.calendar({
      maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate(), today.getHours(), today.getMinutes()),
    });

    stop_time.calendar({
      maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate(), today.getHours(), today.getMinutes()),
    });
  }
</script>
{% endblock %}
