{% extends 'layout.html' %} {% block content %}
<div class="list">
  <div class="header">
    <h2>Evaluations</h2>
  </div>

  <table class="ui celled padded table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Service ID</th>
        <th>Student ID</th>
        <th>Rating</th>
        <th>Datetime</th>
        <th>Description</th>
        <!--
          <th>Actions</th>
        -->
      </tr>
    </thead>
    <tbody>
      {% for evaluation in evaluations %}
      <tr>
        <td>{{evaluation.id}}</td>
        <td>{{evaluation.service_id}}</td>
        <td>{{evaluation.student_id}}</td>
        <td>{{evaluation.rating}}</td>
        <td>{{evaluation.datetime}}</td>
        <td>{{evaluation.description}}</td>
        <!--
        <td>
          <a href={{"/evaluation/%d/delete" % evaluation.id}}><button class="danger">Delete evaluation</button></a>
        </td>
        -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
