{% extends 'layout.html' %} {% block content %}
<h3>Criar serviço</h3>

<form action="/service/create" method="post">
  <label for="title">Titulo</label><br />
  <input type="text" id="title" name="title" />

  <br /><br />

  <label for="description">Descrição</label><br />
  <textarea id="description" name="description" rows="12" cols="35"> </textarea>

  <br /><br />

  <label for="location">Localização</label><br />
  <select name="location" id="location">
    <option value="Torre de Eletro">Torre de Eletro</option>
    <option value="Secção de Folhas">Secção de Folhas</option>
    <option value="Pavilhão de Civil">Pavilhão de Civil</option>
    <option value="Edifício Central">Edifício Central</option>
  </select>

  <br /><br />

  <input type="submit" value="Criar serviço" />
</form>

{% endblock %}
