{% extends 'layout.html' %} {% block content %}
<h3>Lista de serviços</h3>

<form action="/service/create">
  <input type="submit" value="Criar serviço" />
</form>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Localização</th>
    </tr>
  </thead>
  <tbody>
    {% for service in services %}
    <tr>
      <th>{{service.id}}</th>
      <th>{{service.title}}</th>
      <th>{{service.description}}</th>
      <th>{{service.location}}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
