{% extends 'layout.html' %} {% block content %}
<h3>Services</h3>

<a href="/service/create">
  <button>Create service</button>
</a>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for service in services %}
    <tr>
      <th>{{service.id}}</th>
      <th>{{service.name}}</th>
      <th>{{service.description}}</th>
      <th>{{service.location}}</th>
      <th>
        <a href={{"/service/%d/evaluations" % service.id}}><button>View evaluations</button></a>
        <a href={{"/service/%d/delete" % service.id}}><button>Delete service</button></a>
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
